mypy
aiofiles
pymongo
fastapi[all]
pydantic[all]
pydantic[email]
uuid
uvicorn
Faker
starlette
httpx
motor
python-dotenv
httpcore
PyYAML
requests
redis
passlib
bcrypt~=4.0.1
json5
fastapi-crudrouter-mongodb
deprecated
setuptools
click
pathspec
tomli
tqdm
urllib3
tomli_w