pymongo~=4.9.2
fastapi~=0.115.6
pydantic~=2.10.3
uuid~=1.30
Faker~=33.1.0
starlette~=0.41.3
httpx~=0.28.0
logging~=0.4.9.6
motor~=3.6.0
python-dotenv~=1.0.1
httpcore~=1.0.7
PyYAML~=6.0.2
requests~=2.32.3